<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">{{ mode == "admins" ? 'Admins' : "Customers" }} list <button class="btn btn-primary btn-sm float-right" @click="newUser"><i class="fas fa-user-plus"></i> New {{ mode == "admins" ? 'Admin' : "Customer" }}</button></div>

                <div class="card-body">
                    <vuetable ref="vuetable"
                        :fields="['name', 'email', {name:'created_at', title: 'Created at'},'actions']"
                        :per-page="2"
                        :data-manager="dataManager"
                        pagination-path="pagination"
                        @vuetable:pagination-data="onPaginationData"
                        :api-mode="false"
                        :data="users">
                        <div slot="actions" slot-scope="props">
                            <button 
                                class="btn btn-sm btn-success" 
                                @click="editUser(props.rowData)">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button 
                                class="btn btn-sm btn-danger" 
                                @click="deleteUser(props.rowData)">
                                <i class="fas fa-user-minus"></i>
                            </button>
                        </div>
                    </vuetable>
                    <div style="padding-top:10px">
                      <vuetable-pagination ref="pagination"
                        @vuetable-pagination:change-page="onChangePage"
                      ></vuetable-pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal User -->
        <div class="modal fade" id="m_user" role="dialog" aria-labelledby="Modal User" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="" v-if="!editMode">New {{ mode == 'admins' ? 'Admin' : 'Customer' }}</h5>
                        <h5 class="modal-title" id="" v-if="editMode">Edit {{ mode == 'admins' ? 'Admin' : 'Customer' }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateUser() : createUser()" class="" id="form_user">
                        <div class="modal-body">
                            <input type="hidden" v-model="p_mode" ref="mode">
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Name</label>
                                <div class="col-lg-8">
                                    <input v-model="form.name" name="name" v-validate="'required'" type="text" class="form-control" placeholder="" :class="{'is-invalid': verrors.has('name')}">
                                    <span v-show="verrors.has('name')" class="invalid-feedback">{{ verrors.first('name') }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Email</label>
                                <div class="col-lg-8">
                                    <input v-model="form.email" name="email" v-validate="'required|email'" type="text" class="form-control" placeholder="" :class="{'is-invalid': verrors.has('email')}">
                                    <span v-show="verrors.has('email')" class="invalid-feedback">{{ verrors.first('email') }}</span>

                                </div>
                            </div>
                            <div class="form-group row" v-show="!editMode">
                                <label class="col-lg-4 col-form-label">Password</label>
                                <div class="col-lg-8">
                                    <input v-model="form.password" name="password" v-validate="'required_if:mode,create|min:6|max:35'" type="password" class="form-control" placeholder="" ref="password" :class="{'is-invalid': verrors.has('password')}">
                                    <span v-show="verrors.has('password')" class="invalid-feedback">{{ verrors.first('password') }}</span>
                                </div>
                            </div>
                            <div class="form-group row" v-show="!editMode">
                                <label class="col-lg-4 col-form-label">Confirmation</label>
                                <div class="col-lg-8">
                                    <input v-model="form.password_confirmation" name="password_confirmation" v-validate="'required_if:mode,create|confirmed:password'" type="password" class="form-control" placeholder="" data-vv-as="password" :class="{'is-invalid': verrors.has('password_confirmation')}">
                                    <span v-show="verrors.has('password_confirmation')" class="invalid-feedback">{{ verrors.first('password_confirmation') }}</span>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" v-if="!editMode" class="btn btn-primary" :disabled="loading">
                                <span v-show="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Create</button>
                            <button type="submit" v-if="editMode" class="btn btn-primary" :disabled="loading">
                                <span v-show="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Edit</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import _ from "lodash";
    export default {
        data() {
            return {
                form: {
                    id: null,
                    name: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                },
                mode: 'customers',
                p_mode: 'create',
                users: [],
                editMode: false,
                loading: false
            }
        },
        watch: {
            '$route': 'refreshComponent',
            users(newVal, oldVal) {
              this.$refs.vuetable.refresh();
            }
        },
        computed: {
            ...mapGetters(['customers','admins']),
        },
        methods: {
            ...mapActions(['createCustomer','createAdmin','updateCustomer','updateAdmin','deleteCustomer','deleteAdmin']),
            refreshComponent() {
                this.mode = this.$route.name
                this.load()
            },
            onPaginationData(paginationData) {
              this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
              this.$refs.vuetable.changePage(page);
            },
            dataManager(sortOrder, pagination) {
              if (this.users.length < 1) return;

              let local = this.users;

              // sortOrder can be empty, so we have to check for that as well
              if (sortOrder.length > 0) {
                local = _.orderBy(
                  local,
                  sortOrder[0].sortField,
                  sortOrder[0].direction
                );
              }

              pagination = this.$refs.vuetable.makePagination(
                local.length,
                10
              );
              let from = pagination.from - 1;
              let to = from + 10;

              return {
                pagination: pagination,
                data: _.slice(local, from, to)
              };
            },
            newUser() {
                this.form = {
                    id: null,
                    name: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                }
                this.p_mode = 'create'
                this.editMode = false
                this.loading = false
                this.$validator.reset()
                $('#m_user').modal('show')
            },
            createUser() {
                let createFct = this.mode == 'admins' ? this.createAdmin : this.createCustomer
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        createFct(this.form)
                            .then((response) => {
                                $('#m_user').modal('hide')
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                            .finally(() => {
                                this.loading = false
                            })
                    }
                })
            },
            editUser(user){
                this.form = JSON.parse(JSON.stringify(user))
                this.p_mode = 'edit'
                this.editMode = true
                this.loading = false
                this.$validator.reset()
                $('#m_user').modal('show')
            },
            updateUser(){
                let updateFct = this.mode == 'admins' ? this.updateAdmin : this.updateCustomer
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.loading = true
                        updateFct(this.form)
                            .then((response) => {
                                $('#m_user').modal('hide')
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                            .finally(() => {
                                this.loading = false
                            })
                    }
                })
            },
            deleteUser(user){
                if(confirm("You really want to delete user : "+user.name + " ?")){
                    let deleteFct = this.mode == 'admins' ? this.deleteAdmin : this.deleteCustomer
                    deleteFct(user)
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },
            load(force = true) {
                if(this.mode == 'admins'){
                    Promise.all([
                        this.$store.dispatch('initAdmins',force),
                    ]).then(() => {
                        this.users = this.admins
                    }).catch((error) => {
                        console.log(error)
                    })
                } else {
                    Promise.all([
                        this.$store.dispatch('initCustomers',force),
                    ]).then(() => {
                        this.users = this.customers
                    }).catch((error) => {
                        console.log(error)
                    })
                }
            }
        },
        created() {
            this.mode = this.$route.name
        },
        mounted() {
            this.load()
        }
    }
</script>
